/* ===== tampilan mobile ===== */
body{ 
    font-family: 'Chivo', sans-serif !important;
}

/* header utama */
.kepala{
background-color: #dedede;
border: rgba(0, 0, 0, 0.1)   solid 1px;
margin-top: -15px;
margin-bottom: 15px;
}

.navbar-nav .nav-item {
    margin-right: 30px;
    font-size: 15px;
}

.img-logo{
    width: 95%;
    padding: 2% 3% 1% 3%;
}

h1 {
    font-size: 20px;
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
}





    /* landing page */
        /* LP.content */

h2 {
    font-size: 16px;
    font-weight: bold;
}

.lead {
    font-size: 14px;
}

.tombol {
    width: fit-content;
    margin: auto;
}





    /* login */
.login-form{
    border: black solid 1px;
    padding: auto;
    margin: auto;
}

.btn-center{
    margin-left: 105px;
}


/* ===== Tampilan desktop ===== */

@media (min-width: 992px) {
    body{
        font-family: 'Chivo', sans-serif !important;
    }
    
    .container {
        margin-bottom: 20px;
        margin-top: 10px;
        width: 70%;
    }

    .card {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    }
    
/* header utama*/
    .kepala{
        background-color: #dedede;
        border: rgba(0, 0, 0, 0.1)   solid 1px;
        margin-top: -15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .navbar-nav {
        margin: auto;
        padding: 1%;
    }
    
    .navbar .navbar-nav .nav-item {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 16px;
        color: #616161;
    }

    .navbar .navbar-nav .aktif::after {
        content : '';
        display: block;
        border-bottom: 3px solid #234891;
        margin: auto;
        margin-bottom: -3px;
        width: 70%;
    }

    .navbar .navbar-nav .nav-item:hover {
        color: #234891;
    }
    
    .img-logo{
        width: 65%;
        padding: 2% 3% 1% 3%;
    }

    h1 {
        font-size: 35px;
        margin-top: 10px;
    }







    /* landing page */
        /* LP.content */

    h2 {
        font-size: 25px;
        font-weight: bold;
    }
    
    .lead {
        font-size: 20px;
    }


    /* login */
    .login-form{
        border: black solid 1px;
        margin: 5px;
        padding: 20px;
        background-color: #f7f7f7;
        box-shadow: 5px 3px 5px grey;
    }
    
    
    .btn-center{
        margin-left: 500px;
    }
}
